.board{
    width: 100%;
    height: 80%;
}
.piece{
    display: inline-block;
    border: 1px solid #C3073F;
    border-radius: 15px;
    background-color: #4E4E50;
    width: 96px;
    height: 96px;
    font-size: 68px;
    color: snow;
    margin: 2px;
}
.piece i{
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.board-piece-container{
    width: 612px;
    height: 612px;
}
.snowColor{
    color: snow;
}
.grayColor{
    color: gray;
}